[SBIR]
NUM_EPOCHS = 20
NUM_CLASSES = 12
BATCH_SIZE = 128
VALIDATION_STEPS = 19
LEARNING_RATE = 0.01
DECAY_STEPS = 10000
SNAPSHOT_DIR = /content/convnet2/snapshots/alexnet
DATA_DIR = /content/convnet2/data/Animals
CHANNELS = 3
IMAGE_TYPE = SKETCH
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
USE_MULTITHREADS = False
#CKPFILE = /content/convnet2/snapshots/alexnet/020.h5